{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block titulo %} {% endblock %} </title>
    
    <link rel="stylesheet" href="{% static 'web/styles/base.css' %}">

    <link rel="icon" href="{% static 'web/img/logo.png' %}" type="image/x-icon">

    {% block extra_css %} {% endblock %}
</head>

<body>
    <header>
        <img src="{% static 'web/img/logo.png' %}" alt="Logo del club">
        <h1>Club Social y Deportivo LAXUS</h1>
        <img src="{% static 'web/img/logo.png' %}" alt="Logo del club">
        <div class="acciones">
            {% if not user.is_authenticated %} <a class="login" href="{% url 'login' %}"> Iniciar sesión </a> {% endif %}
            
            {% if user.is_authenticated %} <a class="logout" href="{% url 'logout' %}"> Cerrar sesión </a> {% endif %}
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            {% if perms.web.view_alumno %} <li><a href="{% url 'alumnos' %}">Alumnos</a></li> {% endif %}
            {% if perms.web.add_alumno %} <li><a href="{% url 'alta_alumno' %}">Alta alumno</a></li> {% endif %}
            {% if perms.web.add_entrenador %} <li><a href="{% url 'alta_entrenador' %}">Alta Entrenador</a></li> {% endif %}
            {% if perms.web.view_disciplina %} <li><a href="{% url 'disciplinas' %}">Disciplinas y actividades</a></li> {% endif %}
            {% if perms.web.add_inscripcion %} <li><a href="{% url 'inscripcion' %}">Inscripciones</a></li> {% endif %}
        </ul>
    </nav>


    <section>
        {% if messages %}
        <div class="messages">

            {% for message in messages %}
            <h3 {% if message.tags %} class="{{message.tags}}" {% endif %}">{{message}}</h3>
            {% endfor %}

        </div>
        {% endif %}
    </section>

    {% block main %} {% endblock %}

    <footer>

            <div class="contacto">
                <h3>Contacto</h3>
                <p>Dirección: Av. De los Lagos 19, Nordelta</p>
                <p>Email: clublaxus@gmail.com</p>
                <p>Teléfono: 1123456789</p>
            </div>

            <div class="redes">
                <h3>Seguinos en redes</h3>
                <a href="https://facebook.com/guidodiz" target="_blank"><img src="{% static 'web/img/fb.png' %}"
                        alt="Facebook"></a>
                <a href="https://instagram.com/_guidodiz" target="_blank"><img src="{% static 'web/img/ig.png' %}"
                        alt="Instagram"></a>
                <a href="https://twitter.com" target="_blank"><img src="{% static 'web/img/tw.png' %}"
                        alt="Twitter"></a>
            </div>

            <div class="derechos">
                <h4>&copy; 2024 Club Social y Deportivo Laxus. Todos los derechos reservados.</h4>
            </div>

    </footer>
</body>

</html>