{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block titulo %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'web/styles/base.css' %}">
    {% block extra_css %} {% endblock %}
</head>
<body>
    <header></header>

    <section>
        {% if messages %}
            <ul class="messages">

                {% for message in messages %}
                    <li {% if message.tags %} class="{{messages.tags}}" {% endif %}> {{message}} </li>
                {% endfor %}

            </ul>
        {% endif %}
    </section>

    {% block main %} {% endblock %}

    <footer></footer>
</body>
</html>