{% extends 'web/base.html' %}

{% block titulo %} Catálogo {% endblock %} 
{% block extra_css %} <link rel="stylesheet" href=""> {% endblock %}
{% block main %} 

<h1>Catálogo de libros</h1>

<table>

    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Año de publicación</th>
        </tr>
    </thead>

    <tbody>
        {% for key, book_info in books.items %}
        <tr>
            <th>{{book_info.titulo}}</th>
            <th>{{book_info.autor}}</th>
            <th>{{book_info.año}}</th>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}