{% extends 'web/base.html' %}
{% load static %}

{% block titulo %} Disciplinas {% endblock %}
{% block extra_css %} {% endblock %}

{% block main %}

    <h1>Lista de actividades deportivas</h1>

    <table>

        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Turno</th>
            </tr>
        </thead>

        <tbody>
            {% for disciplina in disciplinas %}
            <tr>
                <th>{{disciplina.nombre}}</th>
                <th>{{disciplina.turno}}</th>
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}