{% extends 'web/base.html' %}
{% load static %}

{% block titulo %} Disciplinas {% endblock %}
{% block extra_css %} {% endblock %}
{% block main %}

<div class="form-container">

    <h1>Lista de actividades deportivas</h1>

    <table>

        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Turno</th>
            </tr>
        </thead>

        <tbody>
            {% for key, info_disciplina in disciplinas.items %}
            <tr>
                <th>{{info_disciplina.disciplina}}</th>
                <th>{{info_disciplina.turno}}</th>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}