<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Días y Horarios</title>
    <link rel="stylesheet" href="/proyecto/ProyectoCodo/web/static/web/styles/estilos.css">
</head>
<body>
    <div class="form-container">
        <h1>Lista de Días y Horarios</h1>
        <table>
            <thead>
                <tr>
                    <th>Disciplina/Deporte</th>
                    <th>Día</th>
                    <th>Horario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Voley</td>
                    <td>Lunes</td>
                    <td>18:00 - 20:00</td>
                </tr>
                <tr>
                    <td>Basquet</td>
                    <td>Miércoles</td>
                    <td>19:00 - 21:00</td>
                </tr>
                <tr>
                    <td>Fútbol</td>
                    <td>Viernes</td>
                    <td>20:00 - 22:00</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
